* {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;

    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    position: relative;

    background-color: #000022;
}

#canvas{ 
    margin-top: 40px;
    border-color: white;
    border-style: solid;
    border-width: 2.5px;
}

#sprites {
    display: none;
}